In [1]:
import pandas as pd

# 创建一个DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'Paris', 'London', 'Tokyo'],
    'Salary': [50000, 60000, 70000, 55000]
}

df = pd.DataFrame(data)

# 显示DataFrame
print(df)

# 获取基本信息
print(df.info())

# 选择特定列
print(df['Name'])

# 条件筛选
print(df[df['Age'] > 30])

# 添加新列
df['Experience'] = [3, 5, 7, 4]

# 基本统计
print(df.describe())

# 排序
print(df.sort_values('Salary', ascending=False))

# 分组操作
print(df.groupby('City')['Salary'].mean())

      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30     Paris   60000
2  Charlie   35    London   70000
3    David   28     Tokyo   55000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Salary  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name  Age    City  Salary
2  Charlie   35  London   70000
             Age        Salary  Experience
count   4.000000      4.000000    4.000000
mean   29.500000  58750.000000    4.750000
std     4.203173   8539.125638    1.707825
min    25.000000  50000.000000    3.000000
25%    27.250000  53750.000000    3.750000
50%    29.000000  57500.000000    4.500000
75%    31.250000  62500.000000    5.500000
max    35.000000  70000.000000    7.000000
      Name  Age      City  Salary  Experience
2  Charlie   35    London   70000           7
1      Bob   30     Paris   60000           5
3    David   28     Tokyo   55000           4
0    Alice   25  New York   50000           3
City
London      70000.0
New York    50000.0
Paris       60000.0
Tokyo       55000.0
Name: Salary, dtype: float64

In [2]:
print(df)

      Name  Age      City  Salary  Experience
0    Alice   25  New York   50000           3
1      Bob   30     Paris   60000           5
2  Charlie   35    London   70000           7
3    David   28     Tokyo   55000           4